### Setup

In [1]:
# Uncomment and run this cell if Pandas library is not already installed

# ! pip install --upgrade pip

# ! pip install pandas

### Import Libraries

In [2]:
import pandas as pd

### CloudFront domain

In [3]:
# define CloudFront domain name (to access S3)

cloudfront = 'https://d1b4l80qig6dum.cloudfront.net'
cloudfront

'https://d1b4l80qig6dum.cloudfront.net'

### Fishing entity selection

In [4]:
# this selection will  be based on the user input in concolidated final notebook

fishing_entity_selected = 'Canada'
fishing_entity_selected

'Canada'

### Load EEZ data from S3 based on the fishing entity selection

In [5]:
# create the EEZ filename to be loaded based on fishing entity selected

filename_eez = str(fishing_entity_selected) + '_fishing_entity_eez_data.csv'
filename_eez

'Canada_fishing_entity_eez_data.csv'

In [6]:
# data is in a subfolder 'fishing_entity_data' on the S3 bucket
# define CloudFront access location format for EEZ data

eez_data_key = 'fishing_entity_data/' + filename_eez
eez_data_location = '{}/{}'.format(cloudfront, eez_data_key)

# load the EEZ data using Pandas
df_eez = pd.read_csv(eez_data_location)

# print the number of records & columns, and also display the sample EEZ data
print(df_eez.shape)
df_eez.head(3)

(11222726, 12)

,fishing_entity_id,cell_id,lon,lat,eez_id,taxon_key,reporting_status_id,sector_type_id,catch_type_id,gear_type_id,year,catch_sum
0,26,16770,-75.25,78.25,924,100039,1,1,1,1,2006,0.904239
1,26,16770,-75.25,78.25,924,100039,1,1,1,1,2007,0.956645
2,26,16770,-75.25,78.25,924,100039,1,1,1,1,2008,0.835748

### Load LME data from S3 based on the fishing entity selection

In [7]:
# create the LME filename to be loaded based on fishing entity selected

filename_lme = str(fishing_entity_selected) + '_fishing_entity_lme_data.csv'
filename_lme

'Canada_fishing_entity_lme_data.csv'

In [8]:
# data is in a subfolder 'fishing_entity_data' on the S3 bucket
# define CloudFront access location format for LME data

lme_data_key = 'fishing_entity_data/' + filename_lme
lme_data_location = '{}/{}'.format(cloudfront, lme_data_key)

# load the LME data using Pandas
df_lme = pd.read_csv(lme_data_location)

# print the number of records & columns, and also display the sample LME data
print(df_lme.shape)
df_lme.head(3)

(10398662, 12)

,fishing_entity_id,cell_id,lon,lat,lme_id,taxon_key,reporting_status_id,sector_type_id,catch_type_id,gear_type_id,year,catch_sum
0,26,16773,-73.75,78.25,18,100039,1,1,1,1,1994,0.001701
1,26,16773,-73.75,78.25,18,100039,1,1,1,1,2017,0.007632
2,26,16773,-73.75,78.25,66,100039,1,1,1,1,1994,0.001701

### Load Reference tables

__EEZ NAME lookup by ID__

In [9]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for EEZ NAME lookup data

eez_lookup_key = 'reference_tables/eez.csv'
eez_lookup_data_location = '{}/{}'.format(cloudfront, eez_lookup_key)

# load the EEZ NAME lookup data using Pandas
eez_lookup = pd.read_csv(eez_lookup_data_location)

# print the number of records & columns, and also display the sample data
print(eez_lookup.shape)
eez_lookup.head()

(283, 2)

   eez_id                  eez
0     312  Guadeloupe (France)
1      12              Algeria
2      16       American Samoa
3      28    Antigua & Barbuda
4      32            Argentina

__LME NAME lookup by ID__

In [10]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for LME NAME lookup data

lme_lookup_key = 'reference_tables/lme.csv'
lme_lookup_data_location = '{}/{}'.format(cloudfront, lme_lookup_key)

# load the LME NAME lookup data using Pandas
lme_lookup = pd.read_csv(lme_lookup_data_location)

# print the number of records & columns, and also display the sample data
print(lme_lookup.shape)
lme_lookup.head()

(66, 2)

   lme_id                 lme
0       1     East Bering Sea
1       2      Gulf of Alaska
2       3  California Current
3       4  Gulf of California
4       5      Gulf of Mexico

__CATCH TYPE lookup by ID__

In [11]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for CATCH TYPE lookup data

catch_lookup_key = 'reference_tables/catch_type.csv'
catch_lookup_data_location = '{}/{}'.format(cloudfront, catch_lookup_key)

# load the CATCH TYPE lookup data using Pandas
catch_lookup = pd.read_csv(catch_lookup_data_location)

# rename column gear to catch_type
catch_lookup.rename(columns = {"name": "catch_type"}, inplace = True)

# print the number of records & columns, and also display the sample data
print(catch_lookup.shape)
catch_lookup.head()

(2, 3)

   catch_type_id catch_type abbreviation
0              1   Landings            R
1              2   Discards            D

__SECTOR TYPE lookup by ID__

In [12]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for SECTOR TYPE lookup data

sector_lookup_key = 'reference_tables/sector_type.csv'
sector_lookup_data_location = '{}/{}'.format(cloudfront, sector_lookup_key)

# load the SECTOR TYPE lookup data using Pandas
sector_lookup = pd.read_csv(sector_lookup_data_location)

# rename column name to sector_type
sector_lookup.rename(columns = {"name": "sector_type"}, inplace = True)

# print the number of records & columns, and also display the sample data
print(sector_lookup.shape)
sector_lookup.head()

(4, 2)

   sector_type_id   sector_type
0               1    Industrial
1               2   Subsistence
2               3     Artisanal
3               4  Recreational

__GEAR TYPE lookup by ID__

In [13]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for GEAR TYPE lookup data

gear_lookup_key = 'reference_tables/gear.csv'
gear_lookup_data_location = '{}/{}'.format(cloudfront, gear_lookup_key)

# load the GEAR TYPE lookup data using Pandas
gear_lookup = pd.read_csv(gear_lookup_data_location)

# rename column gear to gear_type
gear_lookup.rename(columns = {"gear": "gear_type"}, inplace = True)

# print the number of records & columns, and also display the sample data
print(gear_lookup.shape)
gear_lookup.head()

(43, 2)

   gear_type_id      gear_type
0             1   bottom trawl
1             1   bottom trawl
2             1   bottom trawl
3             1   bottom trawl
4             2  pelagic trawl

In [14]:
# remove duplicate rows from the gear type reference table

gear_lookup.drop_duplicates(inplace = True)

# print the number of records & columns, and also display the sample data
print(gear_lookup.shape)
gear_lookup.head()

(8, 2)

    gear_type_id      gear_type
0              1   bottom trawl
4              2  pelagic trawl
5              3       longline
9              4    purse seine
12             5       gillnets

__END USE TYPE lookup by ID__

In [15]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for END USE TYPE lookup data

end_use_lookup_key = 'reference_tables/end_use_type.csv'
end_use_lookup_data_location = '{}/{}'.format(cloudfront, end_use_lookup_key)

# load the END USE TYPE lookup data using Pandas
end_use_lookup = pd.read_csv(end_use_lookup_data_location)

# print the number of records & columns, and also display the sample data
print(end_use_lookup.shape)
end_use_lookup.head()

(4, 2)

   end_use_type_id              end_use_name
0                1  Direct human consumption
1                2     Fishmeal and fish oil
2                3                     Other
3                4                  Discards

__REPORTING STATUS lookup by ID__

In [16]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for REPORTING STATUS lookup data

reporting_status_lookup_key = 'reference_tables/reporting_status.csv'
reporting_status_lookup_data_location = '{}/{}'.format(cloudfront, reporting_status_lookup_key)

# load the REPORTING STATUS lookup data using Pandas
reporting_status_lookup = pd.read_csv(reporting_status_lookup_data_location)

# print the number of records & columns, and also display the sample data
print(reporting_status_lookup.shape)
reporting_status_lookup.head()

(2, 3)

   reporting_status_id        name abbreviation
0                    1    Reported            R
1                    2  Unreported            U

__TAXON NAMES lookup by ID__

In [17]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for TAXON NAMES lookup data

taxon_lookup_key = 'reference_tables/taxon.csv'
taxon_lookup_data_location = '{}/{}'.format(cloudfront, taxon_lookup_key)

# load the TAXON NAMES lookup data using Pandas
taxon_lookup = pd.read_csv(taxon_lookup_data_location)

# print the number of records & columns, and also display the sample data
print(taxon_lookup.shape)
taxon_lookup.head()

(3261, 6)

,taxon_key,scientific_name,common_name,species,genus,family
0,601456,Etrumeus whiteheadi,Whitehead's round herring,whiteheadi,Etrumeus,Dussumieriidae
1,605123,Exocoetus monocirrhus,Barbel flyingfish,monocirrhus,Exocoetus,Exocoetidae
2,200538,Chondrichthyes,"Sharks, rays, chimaeras",NaN,NaN,NaN
3,400313,Echeneidae,Remoras,NaN,NaN,Echeneidae
4,400176,Percopsidae,Trout-perches,NaN,NaN,Percopsidae

__FISHING ENTITY lookup by ID__

In [18]:
# data is in a subfolder 'reference_tables' on the S3 bucket
# define CloudFront access location format for FISHING ENTITY lookup data

fishing_entity_key = 'reference_tables/fishing_entity.csv'
fishing_entity_data_location = '{}/{}'.format(cloudfront, fishing_entity_key)

# load the FISHING ENTITY lookup data using Pandas
fishing_entity_lookup = pd.read_csv(fishing_entity_data_location)

# print the number of records & columns, and also display the sample data
print(fishing_entity_lookup.shape)
fishing_entity_lookup.head()

(199, 2)

   fishing_entity_id     fishing_entity
0                  1            Albania
1                  2            Algeria
2                  3     American Samoa
3                  4             Angola
4                  5  Antigua & Barbuda

### Merge IDs in EEZ data with NAMES from Reference tables

In [19]:
# display sample data from EEZ **before** Merging

df_eez.head(3)

,fishing_entity_id,cell_id,lon,lat,eez_id,taxon_key,reporting_status_id,sector_type_id,catch_type_id,gear_type_id,year,catch_sum
0,26,16770,-75.25,78.25,924,100039,1,1,1,1,2006,0.904239
1,26,16770,-75.25,78.25,924,100039,1,1,1,1,2007,0.956645
2,26,16770,-75.25,78.25,924,100039,1,1,1,1,2008,0.835748

In [20]:
# Merge EEZ, Sector type, Catch type, Gear type names from reference tables based on their respective IDs

df_eez = pd.merge(df_eez, sector_lookup, on = 'sector_type_id', how = 'inner')
df_eez = pd.merge(df_eez, catch_lookup, on = 'catch_type_id', how = 'inner')
df_eez = pd.merge(df_eez, gear_lookup, on = 'gear_type_id', how = 'inner')
df_eez = pd.merge(df_eez, eez_lookup, on = 'eez_id', how = 'inner')

# Drop columns that are not necessary for maps (after merging)
df_eez.drop(['fishing_entity_id', 
             'reporting_status_id', 
             'sector_type_id', 
             'catch_type_id',
             'gear_type_id',
             'abbreviation'            
            ], axis = 1, inplace = True)

# display sample data from EEZ **after** Merging
df_eez.head(3)

,cell_id,lon,lat,eez_id,taxon_key,year,catch_sum,sector_type,catch_type,gear_type,eez
0,16770,-75.25,78.25,924,100039,2006,0.904239,Industrial,Landings,bottom trawl,Canada (Arctic)
1,16770,-75.25,78.25,924,100039,2007,0.956645,Industrial,Landings,bottom trawl,Canada (Arctic)
2,16770,-75.25,78.25,924,100039,2008,0.835748,Industrial,Landings,bottom trawl,Canada (Arctic)

### Merge IDs in LME data with NAMES from Reference tables

In [21]:
# display sample data from LME **before** Merging

df_lme.head(3)

,fishing_entity_id,cell_id,lon,lat,lme_id,taxon_key,reporting_status_id,sector_type_id,catch_type_id,gear_type_id,year,catch_sum
0,26,16773,-73.75,78.25,18,100039,1,1,1,1,1994,0.001701
1,26,16773,-73.75,78.25,18,100039,1,1,1,1,2017,0.007632
2,26,16773,-73.75,78.25,66,100039,1,1,1,1,1994,0.001701

In [22]:
# Merge LME, Sector type, Catch type, Gear type names from reference tables based on their respective IDs

df_lme = pd.merge(df_lme, sector_lookup, on = 'sector_type_id', how = 'inner')
df_lme = pd.merge(df_lme, catch_lookup, on = 'catch_type_id', how = 'inner')
df_lme = pd.merge(df_lme, gear_lookup, on = 'gear_type_id', how = 'inner')
df_lme = pd.merge(df_lme, lme_lookup, on = 'lme_id', how = 'inner')

# Drop columns that are not necessary for maps (after merging)
df_lme.drop(['fishing_entity_id', 
             'reporting_status_id', 
             'sector_type_id', 
             'catch_type_id',
             'gear_type_id',
             'abbreviation'            
            ], axis = 1, inplace = True)

# display sample data from LME **after** Merging
df_lme.head(3)

,cell_id,lon,lat,lme_id,taxon_key,year,catch_sum,sector_type,catch_type,gear_type,lme
0,16773,-73.75,78.25,18,100039,1994,0.001701,Industrial,Landings,bottom trawl,Canadian Eastern Arctic - West Greenland
1,16773,-73.75,78.25,18,100039,2017,0.007632,Industrial,Landings,bottom trawl,Canadian Eastern Arctic - West Greenland
2,16774,-73.25,78.25,18,100039,1994,0.002202,Industrial,Landings,bottom trawl,Canadian Eastern Arctic - West Greenland