### Setup

In [1]:
# Uncomment this cell if necessary libraries are not already installed

# ! pip install --upgrade pip

# see instructions below for geopandas library

# ! pip install pandas

__Instructions for GeoPandas__

https://geopandas.org/getting_started/install.html

__Miniconda__

https://docs.conda.io/en/latest/miniconda.html

https://conda.io/projects/conda/en/latest/user-guide/install/index.html

__Installation of dependencies is managed by conda if you prefer that approach__    
__(or)__      
__Manually install necessary dependencies if using the pip install method__ `# ! pip install geopandas`

### Import Libraries

In [2]:
import pandas as pd

import geopandas

### CloudFront domain

In [3]:
# define CloudFront domain name (to access S3)

cloudfront = 'https://d1b4l80qig6dum.cloudfront.net'
cloudfront

'https://d1b4l80qig6dum.cloudfront.net'

### Shape files for Cells

In [4]:
# data is in a subfolder 'maps_shape_files' on the S3 bucket
# define CloudFront access location format for Cell shape files data

cell_shape_data_key = 'maps_shape_files/fixed_geom_world_ocean_cells.zip'
cell_shape_data_location = '{}/{}'.format(cloudfront, cell_shape_data_key)

# load the Cell shape files data using GeoPandas
# this returns a GeoDataFrame 
cell_gdf = geopandas.read_file(cell_shape_data_location)

# print the number of records & columns, and also display the sample data
print(cell_gdf.shape)
cell_gdf.head(3)

(153533, 6)

,ID,CENTROID,WATER_AREA,SEQ,NEW_SEQ,geometry
0,1,"47.75,-36.25",2493.295817,181896.0,164053.0,"POLYGON ((47.50000 -36.00000, 48.00000 -36.000..."
1,2,"47.75,-34.25",2554.452574,179016.0,164049.0,"POLYGON ((47.50000 -34.00000, 48.00000 -34.000..."
2,3,"47.75,-39.75",2378.926818,186936.0,164060.0,"POLYGON ((47.50000 -39.50000, 48.00000 -39.500..."

In [5]:
# drop columns not necessary for maps
# update this as needed - in case NEW_SEQ has to be used in future instead of SEQ
cell_gdf.drop(['ID', 'WATER_AREA', 'NEW_SEQ', 'CENTROID'], axis = 1, inplace = True)

# rename the SEQ column as cell_id and also update the column type to 'int'
# update this as needed - in case NEW_SEQ has to be used in future instead of SEQ
cell_gdf['SEQ'] = cell_gdf['SEQ'].astype(int)
cell_gdf.rename(columns = {"SEQ": "cell_id"}, inplace = True)

# print the number of records & columns, and also display the sample data
print(cell_gdf.shape)
cell_gdf.head(3)

(153533, 2)

   cell_id                                           geometry
0   181896  POLYGON ((47.50000 -36.00000, 48.00000 -36.000...
1   179016  POLYGON ((47.50000 -34.00000, 48.00000 -34.000...
2   186936  POLYGON ((47.50000 -39.50000, 48.00000 -39.500...

### Shape files for EEZ

In [6]:
# data is in a subfolder 'maps_shape_files' on the S3 bucket
# define CloudFront access location format for EEZ shape files data

eez_shape_data_key = 'maps_shape_files/fixed_geom_eez.zip'
eez_shape_data_location = '{}/{}'.format(cloudfront, eez_shape_data_key)

# load the EEZ shape files data using GeoPandas
# this returns a GeoDataFrame 
eez_gdf = geopandas.read_file(eez_shape_data_location)

# print the number of records & columns, and also display the sample data
print(eez_gdf.shape)
eez_gdf.head(3)

(281, 9)

,ID,FID,CAT,EEZ_ID,EEZ_NAME,AREA_KM2,LAYER,PATH,geometry
0,45,141.0,45,174,Comoros Isl.,231636.310536,SAU_EEZ_v9_Mar2018,C:\Users\spopov\Documents\GIS\EEZ\SAU EEZ v9 2...,"POLYGON ((45.73564 -14.31894, 45.39066 -14.430..."
1,47,167.0,47,178,"Congo, R. of",34012.666059,SAU_EEZ_v9_Mar2018,C:\Users\spopov\Documents\GIS\EEZ\SAU EEZ v9 2...,"POLYGON ((9.12111 -6.73441, 8.91135 -6.43164, ..."
2,48,168.0,48,180,Congo (ex-Zaire),13155.472627,SAU_EEZ_v9_Mar2018,C:\Users\spopov\Documents\GIS\EEZ\SAU EEZ v9 2...,"POLYGON ((9.11375 -7.06505, 9.00732 -6.76987, ..."

In [7]:
# drop columns not necessary for maps
# update this as needed

eez_gdf.drop(['ID', 'FID', 'CAT', 'AREA_KM2', 'LAYER', 'PATH'], axis = 1, inplace = True)

# rename the EEZ columns to merge with spatial catch data 
# update this as needed
eez_gdf.rename(columns = {"EEZ_NAME": "eez"}, inplace = True)
eez_gdf.rename(columns = {"EEZ_ID": "eez_id"}, inplace = True)

# print the number of records & columns, and also display the sample data
print(eez_gdf.shape)
eez_gdf.head(3)

(281, 3)

   eez_id               eez                                           geometry
0     174      Comoros Isl.  POLYGON ((45.73564 -14.31894, 45.39066 -14.430...
1     178      Congo, R. of  POLYGON ((9.12111 -6.73441, 8.91135 -6.43164, ...
2     180  Congo (ex-Zaire)  POLYGON ((9.11375 -7.06505, 9.00732 -6.76987, ...

### Shape files for LME

In [8]:
# data is in a subfolder 'maps_shape_files' on the S3 bucket
# define CloudFront access location format for LME shape files data

lme_shape_data_key = 'maps_shape_files/fixed_geom_lme.zip'
lme_shape_data_location = '{}/{}'.format(cloudfront, lme_shape_data_key)

# load the LME shape files data using GeoPandas
# this returns a GeoDataFrame
lme_gdf = geopandas.read_file(lme_shape_data_location)

# print the number of records & columns, and also display the sample data
print(lme_gdf.shape)
lme_gdf.head(3)

(66, 7)

,OBJECT_ID,LME_NUMBER,LME_NAME,SHAPE_LENG,SHAPE_AREA,PROFILE_UR,geometry
0,1,23,Baltic Sea,219.326402,61.950021,http://lme.edc.uri.edu/index.php?option=com_co...,"POLYGON ((10.97944 54.38055, 10.96944 54.38055..."
1,2,52,Sea of Okhotsk,145.932989,213.796584,http://lme.edc.uri.edu/index.php?option=com_co...,"POLYGON ((156.70705 51.18858, 156.62592 51.160..."
2,3,22,North Sea,209.486403,103.965247,http://lme.edc.uri.edu/index.php?option=com_co...,"POLYGON ((5.27889 61.98027, 5.24917 61.97388, ..."

In [9]:
# drop columns not necessary for maps
# update this as needed

lme_gdf.drop(['OBJECT_ID', 'SHAPE_LENG', 'SHAPE_AREA', 'PROFILE_UR'], axis = 1, inplace = True)

# rename the LME columns to merge with spatial catch data 
# update this as needed
lme_gdf.rename(columns = {"LME_NAME": "lme"}, inplace = True)
lme_gdf.rename(columns = {"LME_NUMBER": "lme_id"}, inplace = True)

# print the number of records & columns, and also display the sample data
print(lme_gdf.shape)
lme_gdf.head(3)

(66, 3)

   lme_id             lme                                           geometry
0      23      Baltic Sea  POLYGON ((10.97944 54.38055, 10.96944 54.38055...
1      52  Sea of Okhotsk  POLYGON ((156.70705 51.18858, 156.62592 51.160...
2      22       North Sea  POLYGON ((5.27889 61.98027, 5.24917 61.97388, ...